<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

    <!-- google fonts
    linkear su hoja de estilos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='indexstyle.css') }}?{{ cache_id }}">
</head>

<body style="position: relative;">
  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdroped with scrolling</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p>Try scrolling the rest of the page to see this option in action.</p>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
  <div id = "alert_placeholder" ></div>
  {% include '_flashmessages.html' %}
  <div class=" bg-light">
  <div class="d-flex bd-highlight col-12">
      <div class="p-2 flex-grow-1 bd-highlight col-12">
        <nav id="navsettings" class="navbar navbar-expand-lg nav-pills shadow">
          <div class="container-fluid">
            <ul class="nav">  
              <li class="nav-item">
                <a class="nav-link" href="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="bi bi-list"></i></a>
              </li>
            </ul>
            <ul class="nav" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="cartera-tab" data-bs-toggle="tab" data-bs-target="#cartera" type="button" role="tab" aria-controls="cartera" aria-selected="true">Cartera</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="documentoscontables-tab" data-bs-toggle="tab" data-bs-target="#documentoscontables" type="button" role="tab" aria-controls="documentoscontables" aria-selected="false">Documentos Contables</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Proveedores</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="cuenta-tab" data-bs-toggle="tab" data-bs-target="#cuenta" type="button" role="tab" aria-controls="cuenta" aria-selected="false">Cuenta</a>
              </li>
            </ul>
            <ul class="nav ">
              <li class="nav-item dropstart">
                <a   class="nav-link" href="" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-bell-fill"></i>
                  <span class="badge rounded-pill badge-notification bg-danger">1</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink" >
                  <li>
                    <a class="dropdown-item" href="#">Some news</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Another news</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropstart">
                <a class="nav-link" href="" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    height="25"
                    alt="Black and White Portrait of a Man"
                    loading="lazy"
                  />
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" aria-current="page" href="#">Perfil</a></li>
                  <li><a class="dropdown-item" href="#">Configuración</a></li>
                  <li><a class="dropdown-item" href="#">precios</a></li>
                  <li><a class="dropdown-item" href="/logout" >Salir</a></li>
                </ul>
              </li>
        
            </ul>
          </div>
        </nav>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="cartera" role="tabpanel" aria-labelledby="cartera-tab" >
            <div class="modal fade" id="modalnuevacuenta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nueva Cuenta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                      {% from "_formhelpers.html" import render_field %}

                      <form method="POST" action="{{ url_for('.crearCuenta') }}" enctype="multipart/form-data" role="form">
                          {{ form.hidden_tag() }}

                          {{ render_field(form.serial, class='form-control')}}
                          {{ render_field(form.descripcion, class='form-control')}}
                          {{ render_field(form.example, class='form-checkbox')}}
                          
                        <div class="modal-footer">
                          {{ render_field(form.submitCrear, False, class='btn btn-primary')}}
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </form>
                  </div>
                  
                  
                </div>
              </div>
            </div>
            <div class="container">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalnuevacuenta">
                Crear
              </button>
              {% block plan_pagos %}{% endblock %}
            </div>

            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cuenta Contable: </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body"> 
                    {% from "_formhelpers.html" import render_field %}
                    <form method="POST" action="{{ url_for('.modificaryeliminarCuenta') }}" role="form">
                      {{ modificar_form.hidden_tag() }}
                      <div class="mb-3">
                        {{ render_field(modificar_form.serial, class='form-control', id='serial-text', readonly=true) }}
                      </div>
                      <div class="mb-3">
                        {{ render_field(modificar_form.descripcion, class='form-control', id='descripcion-text', disabled=true) }}
                      </div>
                      <div>
                        
                        Parametros:
                        <div class="form-check">
                          {{ render_field(modificar_form.cartera, class='form-check-input', id='check-cartera', disabled=true, type='checkbox' )}}
                        </div>
                        <div class="form-check">
                          {{ render_field(modificar_form.tercero, class='form-check-input', id='check-tercero', disabled=true, type='checkbox' )}}
                        </div>
                        <div class="form-check">
                          {{ render_field(modificar_form.proveedor, class='form-check-input', id='check-proveedor', disabled=true, type='checkbox' )}}
                        </div>
                        <div class="form-check">
                          {{ render_field(modificar_form.costo, class='form-check-input', id='check-costo', disabled=true, type='checkbox' )}}
                        </div>
                      </div>
                      
                      <div class="modal-footer">
                        <button type="button" id='buttonmodify' class="btn btn-warning">Modificar</button>
                        {{ render_field(modificar_form.submitGuardar, False, class='btn btn-primary' )}}
                        {{ render_field(modificar_form.submitBorrar, False, class='btn btn-danger' )}}
                        <button type="button" id="buttonclose" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        
                      </div>
                    </form>
                  </div>
                  
                </div>
              </div>
            </div>



          </div>
          <div class="tab-pane fade" id="documentoscontables" role="tabpanel" aria-labelledby="documentoscontables-tab">
            <nav class="navbar">
              <div class="container-fluid">
                <ul class="nav nav-tabs" id="myTabDocumentos" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="tipodocumentoscontables-tab" data-bs-toggle="tab" data-bs-target="#tipodocumentoscontables" type="button" role="tab" aria-controls="tipodocumentoscontables" aria-selected="true">Tipo Documentos Contables</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="registrodocumentoscontables-tab" data-bs-toggle="tab" data-bs-target="#registrodocumentoscontables" type="button" role="tab" aria-controls="registrodocumentoscontables" aria-selected="false">Registro Documentos Contables</button>
                  </li>
                </ul>
              </div>
            </nav>
            <div class="tab-content" id="myTabContentDocumentos">
              <div class="tab-pane fade show active" id="tipodocumentoscontables" role="tabpanel" aria-labelledby="tipodocumentoscontables-tab">
                <div class="container">
                  <button type="button" class="col-1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalnewdocumentocontable">
                    Crear
                  </button>
                  <div class="row">
                    <table id="tabladocumentoscontables" class="col-2 table table-bordered table-responsive-md table-striped text-center "></table>
                  </div>
                </div>
                <div class="modal fade" id="modalnewdocumentocontable" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="ModalDocumentoContableCrearTitle">Nuevo Documento Contable</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form>
                        <div class="modal-body">
                        
                          <div class="row container">
                            <div class="col-6 mb-3">
                              <label for="tiponuevodocumento" class="form-label">Tipo Documento</label>
                              <select id="tiponuevodocumento" class="form-select">
                                <option></option>
                                <option value="cartera">Cartera</option>
                                <option value="proveedor">Proveedor</option>
                                <option value="facturacion">Facturación</option>
                              </select>
                            </div>
                            <div class="col-3 mb-3">
                              <label for="prefijonuevodocumento" class="form-label">Prefijo</label>
                              <input type="text" class="form-control" id="prefijonuevodocumento" maxlength="5" >
                            </div>
                            <div class="col-3 mb-3">
                              <label for="plantillanuevodocumento" class="form-label">Plantilla</label>
                              <select id="plantillanuevodocumento" class="form-select">
                                <option></option>
                                <option >formato1</option>
                              </select>
                            </div>
                          </div>
                          <div class="row container">
                            <div class="col-3 mb-3">
                              <label for="consecutivonuevodocumento" class="form-label">Consecutivo</label>
                              <input type="number" class="form-control" id="consecutivonuevodocumento" >
                            </div>
                            <div class="col-9 mb-3">
                              <label for="descripcionnuevodocumento" class="form-label">Descripción</label>
                              <input type="text" class="form-control" id="descripcionnuevodocumento" >
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button id="enviarnuevodocumento" type="button" class="btn btn-primary" data-bs-dismiss="modal">Enviar</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="modalmodificardocumentocontable" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="ModalDocumentoContableModifyTitle">Documento Contable</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form id="modificardocumentosform">
                        <div class="modal-body">
                        
                          <div class="row container">
                            <div class="col-6 mb-3">
                              <label for="fechadocumentom" class="form-label">Fecha</label>
                              <input type="date" class="form-control" id="fechadocumentom" disabled >
                            </div>
                            <div class="col-3 mb-3">
                              <label for="tipodocumentom" class="form-label">Tipo Documento</label>
                              <select id="tipodocumentom" class="form-select" disabled>
                                <option></option>
                                <option>Cartera</option>
                                <option>Proveedor</option>
                                <option>Facturación</option>
                              </select>
                            </div>
                            <div class="col-3 mb-3">
                              <label for="prefijodocumentom" class="form-label">Prefijo</label>
                              <input type="text" class="form-control" id="prefijodocumentom" disabled>
                            </div>
                          </div>
                          <div class="row container">
                            <div class="col-3 mb-3">
                              <label for="consecutivodocumentom" class="form-label">Consecutivo</label>
                              <input type="number" class="form-control" id="consecutivodocumentom" disabled>
                            </div>
                            <div class="col-9 mb-3">
                              <label for="descripciondocumentom" class="form-label">Descripción</label>
                              <input type="text" class="form-control" id="descripciondocumentom" disabled>
                              <input type="number" class="form-control d-none" id="iddocumentomodificar" disabled>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button id="modificardocumentom" type="button" class="btn btn-warning">Modificar</button>
                          <button id="guardardocumentom" type="submit" class="btn btn-primary" data-bs-dismiss="modal" >Guardar</button>
                          <button type="button" data-bs-toggle="modal" data-bs-target="#modaldelete" class="btn btn-danger btn-delete">Borrar</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade active" id="registrodocumentoscontables" role="tabpanel" aria-labelledby="registrodocumentoscontables-tab">
                <button id="buttonregistrodocumento" type="button" data-bs-toggle="modal"  data-bs-target="#modalnuevoregistrodocumentos" class="btn btn-primary">Launch modal</button>
                  <div class="modal "  id="modalnuevoregistrodocumentos" aria-hidden="true" tabindex="-1">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Registro</h4>    
                          <button type="button" class="btn-close" data-bs-dismiss="modal"aria-label="Close"></button>
                        </div><div class="container"></div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-2"> 
                              <select id="selecttipodocumento" class="form-select"></select>
                            </div>
                            <div class="col-2">
                              <input type="number" class="inputsformulario" id="tipoconsecutivo" disabled>
                            </div>
                            <div class="col-2">
                              <input type="date" class="inputsformulario" id="tipofecha" >
                            </div>
                            <div class="col-4 p-0">
                              <input type="text" class="inputsformulario" id="proveedorseleccionado" disabled> 
                            </div>
                            <div class="col-2 p-0">
                              <button data-bs-toggle="modal" data-bs-target="#myModal2" class="btn btn-primary" id="buttonproveedores" target="proveedorseleccionado">Proveedor</button>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-10">
                              <label for="observacionesregistro" >Observaciones</label>
                              <input type="text" id="observacionesregistro" class="form-control"> 
                            </div>
                          </div>
                          <table id="tableregistrodocumentos" class="table inputsformulario">
                            <thead>
                              <tr>
                                <th>Cuenta</th>
                                <th>Descripción</th>
                                <th>Tercero</th>
                                <th>D/C</th>
                                <th>Vr. Base</th>
                                <th>%</th>
                                <th>Valor</th>
                                <th>Forma de pago</th>
                                <th>C. Costo</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <th><input type="number" data-bs-toggle="modal" data-bs-target="#modalselectcuenta" id="inputcuenta"></th>
                                  <th><input type="text" id="inputdescripcion" ></th>
                                  <th><input type="text" id="inputtercero" data-bs-toggle="modal" data-bs-target="#myModal2" target="inputtercero"></th>
                                  <th>
                                    <select name="" class="form-select" id="debitocredito">
                                      <option value="debito">D</option>
                                      <option value="credito">C</option>
                                    </select>
                                  </th>
                                  <th><input type="text" id="inputvalorbase" value=""></th>
                                  <th><input type="number" id="porcentajevalor"  min="0" max="100"></th>
                                  <th><input type="text" id="inputvalortotal" value=""></th>
                                  <th>
                                    <select name="" class=form-select>
                                      <option value="debito"></option>
                                    </select>
                                  </th>
                                  <th>
                                    <select name="" class=form-select>
                                      <option value="debito"></option>                                  
                                    </select>
                                  </th>
                                  <th><button type="button" class="btn btn-success" id="buttonsend">+</button></th>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="modal-footer">
                          <div class="row" >
                            <div class="col-3">
                              <label for="sumadebitosregistro" >Debitos</label>
                              <input type="text" id="sumadebitosregistro" > 
                            </div>
                            <div class="col-3">
                              <label for="sumacreditosregistro" >Creditos</label>
                              <input type="text" id="sumacreditosregistro" > 
                            </div>
                            <div class="col-2">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                            <div class="col-2">
                              <button id="sendregistro" type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="createregistros()">Enviar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal" id="myModal2" data-bs-backdrop="static">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Seleccionar proveedor</h4>
                          <button type="button" class="btn-close" data-bs-target="#modalnuevoregistrodocumentos" data-bs-toggle="modal" aria-label="Close"></button>
                        </div><div class="container"></div>
                        <div class="modal-body divselect" >
                          <div class="row justify-content-md-center">
                            <div class="col-3">
                              <select id="selectparametrobuscarproveedorform" class="inputsformulario">
                                <option value="nombre">Nombre</option>
                                <option value="numero">Nit</option>
                              </select>
                            </div>
                            <div class="col-6">
                              <input type="text" class="inputsformulario" id="textbuscarproveedorform" placeholder="Buscar">
                            </div>
                            <div class="col-2">
                              <button type="button" id="buscarproveedorform" class="btn btn-warning">Buscar</button>
                            </div>
                          </div>
                          <table id="tableselectproveedores" class="table table-bordered table-responsive-md table-striped text-center table-hover"></table>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-primary" data-bs-target="#modalnuevoregistrodocumentos" data-bs-toggle="modal">Volver</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal" id="modalselectcuenta" data-bs-backdrop="static">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Seleccionar cuenta</h4>
                          <button type="button" class="btn-close" data-bs-target="#modalnuevoregistrodocumentos" data-bs-toggle="modal" aria-label="Close"></button>
                        </div><div class="container"></div>
                        <div class="modal-body divselect" >
                          <div class="row justify-content-md-center">
                            <div class="col-3">
                              <select id="selectparametrobuscarcuentaform" class="inputsformulario">
                                <option value="codigo">Codigo</option>
                                <option value="descripcion">Descripcion</option>
                              </select>
                            </div>
                            <div class="col-6">
                              <input type="text" class="inputsformulario" id="textbuscarcuentaform" placeholder="Buscar">
                            </div>
                            <div class="col-2">
                              <button type="button" id="buttonbuscarcuentaform" class="btn btn-warning">Buscar</button>
                            </div>
                          </div>
                          <table id="tableselectcuentas" class="table table-bordered table-responsive-md table-striped text-center table-hover"></table>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-primary" data-bs-target="#modalnuevoregistrodocumentos" data-bs-toggle="modal">Volver</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="container ">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalnewproveedor">
                Crear
              </button>
              <button type="button" id="buttonbuscar" class="btn btn-warning">Buscar</button>
              <input type="text" id="textbuscar" placeholder="Buscar">
              <select id="selectparametrobuscarproveedor">
                <option value="nombre">Nombre</option>
                <option value="numero">Nit</option>
              </select>
              <div class="row">
                <table id="proveedores" class="col-10 table table-bordered table-responsive-md table-striped text-center table-hover"></table>
              </div>
            </div>
            <div class="modal fade" id="modalnewproveedor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ModalProveedorCrearTitle">Nuevo Proveedor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form id="enviarproveedorform">
                    <div class="modal-body">
                    
                      <div class="row container">
                        <div class="col-6 mb-3">
                          <label for="primerNombre" class="form-label">Primer Nombre</label>
                          <input type="text" class="form-control" id="primerNombre"  maxlength="15" required>
                        </div>
                        <div class="col-6 mb-3">
                          <label for="segundoNombre" class="form-label">Segundo Nombre</label>
                          <input type="text" class="form-control" id="segundoNombre"  maxlength="15">
                        </div>
                      </div>
                      <div class="row container">
                        <div class="col-6 mb-3">
                          <label for="primerApellido" class="form-label">Primer Apellido</label>
                          <input type="text" class="form-control" id="primerApellido"  maxlength="15" required>
                        </div>
                        <div class="col-6 mb-3">
                          <label for="segundoApellido" class="form-label">Segundo Apellido</label>
                          <input type="text" class="form-control" id="segundoApellido" maxlength="15">
                        </div>
                      </div>
                      <div class="row container">
                        <div class="col-3 mb-3">
                          <label for="tipoDocumento" class="form-label">Tipo Doc:</label>
                          <select id="tipoDocumento" class="form-select">
                            <option selected>C.C</option>
                            <option>C.E</option>
                            <option>NIT</option>
                            <option>D.E</option>
                          </select>
                        </div>
                        <div class="col-4 mb-3">
                          <label for="numDocumento" class="form-label">N° Documento:</label>
                          <input type="number" class="form-control" id="numDocumento" pattern="[0-9]+" required >
                        </div>
                        <div class="col-5 mb-3">
                          <label for="correo" class="form-label">Correo</label>
                          <input type="email" class="form-control" id="correo" maxlength="120">
                        </div>
                      </div>
                      <div class="row container">
                        <div class="col-4 mb-3">
                          <label for="pais" class="form-label">Pais</label>
                          <input type="text" class="form-control" id="pais" maxlength="40">
                        </div>
                        <div class="col-4 mb-3">
                          <label for="departamento" class="form-label">Departamento</label>
                          <input type="text" class="form-control" id="departamento" maxlength="40">
                        </div>
                        <div class="col-4 mb-3">
                          <label for="municipio" class="form-label">Municipio</label>
                          <input type="text" class="form-control" id="municipio" maxlength="40" >
                        </div>
                      </div>
                      <div class="row container">
                        <div class="col-8 mb-3">
                          <label for="direccion" class="form-label">Dirección</label>
                          <input type="text" class="form-control" id="direccion" maxlength="130" >
                        </div>
                        <div class="col-4 mb-3">
                          <label for="codigoPostal" class="form-label">Codigo Postal</label>
                          <input type="number" class="form-control" id="codigoPostal" >
                        </div>
                      </div>
                      <div class="row container">
                        <div class="col-12 mb-3">
                          <label for="telefono" class="form-label">Telefono</label>
                          <input type="number" class="form-control" id="telefono" >
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button id="enviarproveedor" type="submit" class="btn btn-primary">Enviar</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal fade" id="modalmodificarproveedor" aria-hidden="true" tabindex="-1"  >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ModalProveedorModicarTitle">Proveedor: </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form>
                    <div class="modal-body">
                    
                      <div class="row container">
                        <div class="col-6 mb-3">
                          <label for="primerNombrem" class="form-label">Primer Nombre</label>
                          <input type="text" class="form-control" id="primerNombrem" maxlength="15" disabled required>
                        </div>
                        <div class="col-6 mb-3">
                          <label for="segundoNombrem" class="form-label">Segundo Nombre</label>
                          <input type="text" class="form-control" id="segundoNombrem"  maxlength="15" disabled>
                        </div>
                      </div>
                      <div class="row container">
                        <div class="col-6 mb-3">
                          <label for="primerApellidom" class="form-label">Primer Apellido</label>
                          <input type="text" class="form-control" id="primerApellidom"  maxlength="15" disabled required>
                        </div>
                        <div class="col-6 mb-3">
                          <label for="segundoApellidom" class="form-label">Segundo Apellido</label>
                          <input type="text" class="form-control" id="segundoApellidom"  maxlength="15" disabled >
                        </div>
                      </div>
                      <div class="row container">
                        <div class="col-3 mb-3">
                          <label for="tipoDocumentom" class="form-label">Tipo Doc:</label>
                          <select id="tipoDocumentom" class="form-select" disabled>
                            <option selected>C.C</option>
                            <option>C.E</option>
                            <option>NIT</option>
                            <option>D.E</option>
                          </select>
                        </div>
                        <div class="col-4 mb-3">
                          <label for="numDocumentom" class="form-label">N° Documento:</label>
                          <input type="number" class="form-control" pattern="[0-9]+" id="numDocumentom" disabled required >
                        </div>
                        <div class="col-5 mb-3">
                          <label for="correom" class="form-label">Correo</label>
                          <input type="email" class="form-control" id="correom" maxlength="120" disabled >
                        </div>
                      </div>
                      <div class="row container">
                        <div class="col-4 mb-3">
                          <label for="paism" class="form-label">Pais</label>
                          <input type="text" class="form-control" id="paism" maxlength="40" disabled>
                        </div>
                        <div class="col-4 mb-3">
                          <label for="departamentom" class="form-label">Departamento</label>
                          <input type="text" class="form-control" id="departamentom" maxlength="40" disabled>
                        </div>
                        <div class="col-4 mb-3">
                          <label for="municipiom" class="form-label">Municipio</label>
                          <input type="text" class="form-control" id="municipiom" maxlength="40" disabled>
                        </div>
                      </div>
                      <div class="row container">
                        <div class="col-8 mb-3">
                          <label for="direccionm" class="form-label">Dirección</label>
                          <input type="text" class="form-control" id="direccionm" maxlength="130" disabled>
                        </div>
                        <div class="col-4 mb-3">
                          <label for="codigoPostalm" class="form-label">Codigo Postal</label>
                          <input type="number" class="form-control" id="codigoPostalm" disabled>
                        </div>
                      </div>
                      <div class="row container">
                        <div class="col-12 mb-3">
                          <label for="telefonom" class="form-label">Telefono</label>
                          <input type="number" class="form-control" id="telefonom" disabled>
                          <input type="number" class="form-control d-none" id="idproveedormodificar" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button id="modificarProveedor" type="button" class="btn btn-warning">Modificar</button>
                      <button id="guardarProveedor" type="button" class="btn btn-primary" data-bs-dismiss="modal" >Guardar</button>
                      <button type="button" data-bs-toggle="modal" data-bs-target="#modaldelete" class="btn btn-danger btn-delete">Borrar</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="cuenta" role="tabpanel" aria-labelledby="cuenta-tab">
            <div class="container ">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalnewcuenta">
                Crear
              </button>
              <button type="button" id="buttonbuscarcuenta" class="btn btn-warning">Buscar</button>
              <select id="selectparametrobuscarcuenta">
                <option value="codigo">Codigo</option>
                <option value="descripcion">Descripcion</option>
              </select>
              <input type="text" id="textbuscarcuenta" placeholder="Numero de codigo">
              <div class="row">
                <table id="cuentas" class="col-10 table table-bordered table-responsive-md table-striped text-center table-hover"></table>
              </div>
            </div>
            <div class="modal fade" id="modalnewcuenta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ModalCuentaNuevaTitle">Nueva Cuenta: </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form role="form" id="enviarcuentaform">
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="serialnuevacuenta" class="form-label">Codigo</label>
                        <input type="number" pattern="[0-9]+" max="99999999999999999999" size="20" class="form-control" id="serialnuevacuenta" required>
                      </div>
                      <div class="form-group">
                        <label for="descripcionnuevacuenta" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="descripcionnuevacuenta" maxlength="150" required>
                      </div>
                      <div class="form-group">
                        <div class="row">
                        <div class="col-6">
                        <label for="nuevosparametros">Parametros</label>
                        <ul class="form-checkbox" id="nuevosparametros">
                          <li>
                            <input type="checkbox" id="carteranuevacuenta" >
                            <label for="carteranuevacuenta" class="form-label">Cartera</label>
                          </li>
                          <li>
                            <input type="checkbox" id="terceronuevacuenta" >
                            <label for="terceronuevacuenta" class="form-label">Tercero</label>
                          </li>
                          <li>
                            <input type="checkbox" id="proveedornuevacuenta" >
                            <label for="proveedornuevacuenta" class="form-label">Proveedor</label>
                          </li>
                          <li>
                            <input type="checkbox" id="centrocostonuevacuenta" >
                            <label for="centrocostonuevacuenta" class="form-label">Centro Costo</label>
                          </li>
                        </ul>
                        </div>
                        <div class="col-6">
                          <label for="">Naturaleza</label>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="radiodefault" id="radiodebito" checked>
                            <label class="form-check-label" for="radiodebito">
                              Debito
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="radiodefault" id="radiocredito" >
                            <label class="form-check-label" for="radiocredito">
                              Credito
                            </label>
                          </div>
                          <label for="tipocuenta" id="labeltipocuenta">Tipo</label>
                          <div class="form-check">
                            <select name="tipocuenta" id="tipocuenta">
                              <option>A</option>
                              <option>P</option>
                              <option>Pt</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button id="enviarnuevacuenta" type="submit" class="btn btn-primary">Enviar</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal fade" id="modalmodificarcuenta" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalmodificarcuentatitle">Cuenta Contable:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form id="modificarcuentaform">
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="serialmodificarcuenta" class="form-label">Codigo</label>
                        <input type="number" class="form-control" id="serialmodificarcuenta" required >
                      </div>
                      <div class="form-group">
                        <label for="descripcionmodificarcuenta" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="descripcionmodificarcuenta" maxlength="150" required >
                      </div>
                      <div class="form-group">
                        Parametros
                        <div class="form-check">
                          <div class="form-group">
                            <label for="carteramodificarcuenta" class="form-label">Cartera</label>
                            <input type="checkbox" class="form-check-input" id="carteramodificarcuenta">
                          </div>
                        </div>
                        <div class="form-check">
                          <div class="form-group">
                            <label for="terceromodificarcuenta" class="form-label">Tercero</label>
                            <input type="checkbox" class="form-check-input" id="terceromodificarcuenta">
                          </div>
                        </div>
                        <div class="form-check">
                          <div class="form-group">
                            <label for="proveedormodificarcuenta" class="form-label">Proveedor</label>
                            <input type="checkbox" class="form-check-input" id="proveedormodificarcuenta">
                          </div>
                        </div>
                        <div class="form-check">
                          <div class="form-group">
                            <label for="centrocostomodificarcuenta" class="form-label">Centro Costo</label>
                            <input type="checkbox" class="form-check-input" id="centrocostomodificarcuenta">
                          </div>
                        </div>
                      </div>
                      <input class="d-none" id="idcuentamodificar" type="number">
                    </div>
                
                    <div class="modal-footer">
                      <button id="modificarcuenta" type="button" class="btn btn-warning">Modificar</button>
                      <button id="guardarcuenta" type="submit" class="btn btn-primary" >Guardar</button>
                      <button type="button"  data-bs-toggle="modal" data-bs-target="#modaldelete" class="btn btn-danger btn-delete">Borrar</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="topbar-divider d-none d-sm-block"></div>
      </div>

      
  </div>
  <div class="modal" id="modaldelete" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Atención</h4>
        </div>
        <div class="modal-body">
          Se eliminara de forma permanente 
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger btn-confirm " data-bs-dismiss="modal">Acepto</button>
          <button id="buttonback"class="btn btn-secondary" data-bs-target="#myModal" data-bs-toggle="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
    <!-- Bootstrap CDN -->
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
</html>